{% extends "layout/layout.html.twig" %}

{% block title %}content1{% endblock %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-md-10 content">
                メインの表示
            </div>
            <div class="col-md-2 sidebar">
                サイドバーの表示
                <br>
                {% if session.isAuth is same as(true) %}
                    <a href="{{ path_for('content1New', {}) }}">登録</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}