{% extends "layout/layout.html.twig" %}

{% block title %}sampleApp{% endblock %}

{% block content %}

    <!-- 見出し -->
    <div class="container">

        <!-- ジャンボトロン-->
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>タイトル</h1>
            <p>説明</p>
            <p>
                <a class="btn btn-lg btn-primary" href="#" role="button">ボタン</a>
            </p>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="#" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                <h2>Heading</h2>
                <p>説明</p>
                <p><a class="btn btn-default" href="#" role="button">ボタン</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="#" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                <h2>Heading</h2>
                <p>説明</p>
                <p><a class="btn btn-default" href="#" role="button">ボタン</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="#" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                <h2>Heading</h2>
                <p>説明</p>
                <p><a class="btn btn-default" href="#" role="button">ボタン</a></p>
            </div><!-- /.col-lg-4 -->
        </div>


        <!-- 説明 -->
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">説明見出し</h2>
                <p class="lead">説明</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" data-src="#" alt="500x500" src="#"
                     data-holder-rendered="true">
            </div>
        </div>

        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive" data-src="#" alt="500x500" src="#"
                     data-holder-rendered="true">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">説明見出し</h2>
                <p class="lead">説明</p>
            </div>
        </div>

    </div>


    <div id="main">
        メイン
    </div>

    <aside>
        サブメニュー
    </aside>

    <footer>
        フッター
    </footer>

{% endblock %}